<div class="taskList_table" style="overflow-x:auto;">
<table style="width:100%" name="searchResults" id="searchResults">
	<tr align="center">
		<td id="test"></td>
		<th style="display:none;">ID</th>
		<th>Picture</th>
		<th>Task</th>
		<th>Owner</th>
		<th>Description</th>
		<th>Category</th>
		<th>Location</th>
		<th>Date</th>
	</tr>
    {{#each taskList}}
	<tr>
	<td style="display:none;">{{this._id}}</td>
    <td>{{this.pictureUrl}}</td>
    <td>{{this.title}}</td>
    <td>{{this.poster.firstName}} {{this.poster.lastName}}</td>
    <td>{{this.description}}</td>
    <td>{{this.category}}</td>
    <td>{{this.address.city}}</td>
    <td>{{this.date.day}}</td>
	</tr>
	{{/each}}
</table>
</div>