<!--Recommended Tasks-->
<div class="container-fluid">

    <table class="recommendTask">

        <thead>
        <th><tr>
            <td class="tableHeader recommendTask" colspan="3" style="border-style:solid; border-color: #000000" ><b>Recently posted volunteer opportunity</b></td>
        </tr></th>
        </thead>

        <tbody>
        {{#each tasks}}
            <tr class="row3" style="border-style: solid;background: #c7e6b5;border-color: #000000;">
                <td style="display:none">{{this._id}}</td>
                <td style="display:none">{{this.poster.id}}</td>
                <td class="col1">
                    <table>
                        <tr class="r3c1row1">
                            <td>
                                <p><img src="{{this.pictureUrl}}" alt="Profile Picture"></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="r3c1row2">
                                <p><a class="poster_link">{{this.poster.firstName}} {{this.poster.lastName}}</a></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="r3c1row3">
                                <p>{{this.address.city}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="col2">
                    <table>
                        <tr class="r3c2row1">
                            <td >
                                <p><a href="taskName">{{this.title}}</a></p>
                            </td>
                        </tr>
                        <tr class="r3c2row2">
                            <td>
                                <p>{{this.description}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="col3">
                    <table>
                        <tr class="r3c3row1">
                            <td>
                                <p><button type="button" class="viewDetails col3" >View Details</button></p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<script src="/javascripts/taskListScript.js"></script>
<script src="/javascripts/searchScript.js"></script>