<!--<h1>Here are some users who claim they are interested</h1>

<table>
    <tr>
        <th>User</th>
        <th>Description</th>
    </tr>
    {{#each potentialMatches}}
    <tr>
        <td style="display:none;">{{this.interestedUser.id}}</td>
        <td>{{this.interestedUser.name}}</td>
        <td>{{this.description}}</td>
        <td><button>Match me with this user</button></td>
    </tr>
    {{/each}}
</table>
-->





<div id="interestedUsersBanner">
    <br><br>
        <div class= "container" style="max-width: 100%; height: 90px; background: #9bd17d">
        <table>
            <tr>
                
                <td>
                    <h3><strong>Here are some users interested in your task:</h3></strong>
                </td>
            </tr>

        </table>
        </div>
</div>
<br>
<br>
<div>
   
    {{#each potentialMatches}}
        <div class= "container" style="max-width: 100%; height: 90px; background: #9bd17d">
        <table>
            <tr>
                <th>User</th>
                
            </tr>
            <tr>
                <td style="display:none;">

                {{this.interestedUser.id}}</td>
                <col width="840">
                <td>{{this.interestedUser.name}}</td>
                <td><button>Match me with this user</button></td>
            </tr>
            <tr>  
            <th>Description</th>  
            </tr>
            <tr>
                <td>{{this.description}}</td>
               
            </tr>
        </table>
        </div>
        <br><br>
    
    {{/each}}
</div>




<div class= "container-fluid" style="max-width: 80%;">

    <h2 style="background: #c7e6b5; max-width: 100%;">About</h2>

    <div style= "width: 80% overflow: hidden;">
        <div id='left_div' style="max-width: 50%; float: left;">
            <ul class="nav navbar-nav">            
                <li><a id="navGeneralInformation" onclick="displayGeneralInformation()">General Information</a></li>
                <br>
                <li><a id="navWorkEducation" onclick="displayWorkEducation()">Work and Education</a></li>
                <br>
                <li><a id="navContactInformation" onclick="displayContactInformation()">Contact Information</a></li>
                <br>
                <li><a id="navInterests" onclick="displayInterests()">Interests</a></li>

            </ul>        
        </div>
        <br>
        <div id='right_div' style="margin-left: 50%;">
            <div id="General_Information" class="hidden">
                <label>First Name:</label> {{user.firstName}}
                <br><br>
                <label>Last Name: </label> {{user.lastName}}
                <br><br>
                <label>Gender: </label {{user.gender}}
                <br><br>
            </div>
            <div id="Work_and_Education" class="hidden">
                <label>Education Level: </label>
                <br><br>
                <label>Workplace: </label>
                <br><br>
            </div>
            <div id="Contact_Information" class="hidden">
                <label>Phone Number: </label> {{user.phoneNumber}}
                <br><br>
                <label> Apartment Number: </label> {{user.address.apartmentNumber}}
                <br><br>
                <label> Street Address: </label> {{user.address.streetNumber}} {{user.address.streetName}}
                <br><br>
                <label>City: </label> {{user.address.city}}
                <br><br>
                <label> Postal Code: </label> {{user.address.postalCode}}
                <br><br>
                <label>Preferred Mode of Contact: </label> {{user.preferredContact}}
                <br><br>
            </div>
            <div id="Interests" class="hidden">
                <label>Interests: </label>
                <br><br>
                <label>Hobbies: </label>
                <br><br>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/potentialMatchesScript.js"></script>