<div class="container-fluid" style="background: #c7e6b5;max-width: 100%; font-weight: bold" >
        <ul class="nav navbar-nav">
            <li><a href="#" id="reviews_nav" name={{user._id}}>Reviews</a></li>
            <li><a href="#" id="taskHistory_nav" name={{user._id}}>Task History</a></li>
            <li><a href="#" id="currentTasks_nav" name={{user._id}}>Current Tasks</a></li>
            <li><a href="#" id="profile_nav" name={{user._id}}>Profile</a></li>
        </ul>
</div>
<br>
<div id="taskName">
    <div class= "container" style="max-width: 100%; height: 60px;border:2px solid black; background: #9bd17e" >
        <table>
            <tr>
                
                <td>
                <br>
                    <b>Task name:</b>
                    Sample task name.
                </td>
            </tr>
        </table>
        </div>

</div>
<div id="descriptionStatusActionHeading">
        <div class= "container" style="max-width: 100%; height: 55px;border:2px solid black;background: #FFFFFF">
        <table >
        <col width="880">
        <col width="150">
            <tr>
                <td>

                <br>
                    <b> Description</b>
                </td>
                <td>
                <b> Status </b>
                </td>
                <td>
                <b> Action </b>
                </td>
            </tr>
        </table>
        </div>

</div>
<div id="descriptionStatusActionHeading">
        <div class= "container" style="max-width: 100%; height: 55px;border:2px solid black;background: #e2fbd5">
        <table >
        <col width="880">
        <col width="150">
            <tr>
                <td>
                    <br>
                    Sample description of the task.
                </td>
                <td>
                    Pending
                </td>
                <td>
                       <button id="match">Delete Task</button>
                </td>
            </tr>
        </table>
        </div>

</div>


<div id="interestedUsersBanner">
    <br><br>
        <div class= "container" style="max-width: 100%; height: 70px; background: #9bd17d">
        <table>
            <tr>
                
                <td>
                    <h3><strong>Below are users interested in your task.</h3></strong>
                </td>
            </tr>

        </table>
        </div>
</div>
<br>
<br>
<div id="interestedUsers">
   <!-- THIS IS WHERE THE CODE FOR TESTING BEGINS -->
   <div class= "container" style="max-width: 100%; height: 350px; background: #9bd17d";>
        <table>
        <br>
        <col width="160">
        <col width="800">
            <tr>
                <td>

                   <https://ibb.co/fed8mF"><img src="https://image.ibb.co/dEkXDv/Elizabeth_Garcia.jpg" style="width:150px;height:150px;">  
                   
                </td>
                <td valign="top";>
                    <b>Interests:</b> <br>
                    <p style=background-color:white;">
                        Interests would go here. 
                        <br>
                        &nbsp;
                     </p>  
                   
                    
                    <b>Message from user:</b> <br>
                    <p style=background-color:white;">
                        Hello there. How are you? My name is Emily I was wondering if I could help you with this test task. Please let me know soon. Thanks. This is a test. This is a test. This is a test. End of test message has arrived. 
                    </p>  
                </td>      
                <td>

                    <button id="match">Match me with this user</button>
                </td>
           </tr>     
            <tr>
                <td>
                    <b>User:</b>
                    Emily Brown  
                </td>         
            </tr>
            <tr>
                <td colspan="2">
                
                  <b>Location:</b>
                  23 Forest Street, Waterloo, Ontario.  
                  <br>
                  <button id="profile_page")">View Profile</button>
                </td> 
            </tr>     
        </table>
          
        
    </div>
        <br><br>
    
    
     <!-- THIS IS THE OLD CODE BUT IT WILL BE USED WHEN CREATE A TASK FUNCTIONALITY IS ADDED -->
    {{#each potentialMatches}}
        <div class= "container" style="max-width: 100%; height: 90px; background: #9bd17d">
        <table>
            <tr>
                <th>User</th>
                
            </tr>
            <tr>
                <td style="display:none;">

                {{this.interestedUser.id}}</td>
                <col width="840">
                <td>{{this.interestedUser.name}}</td>
                <td><button>Match me with this user</button></td>
            </tr>
            <tr>  
            <th>Description</th>  
            </tr>
            <tr>
                <td>{{this.description}}</td>
               
            </tr>
        </table>
        </div>
        <br><br>
    
    {{/each}}
</div>


<!--
<div id="matched_dialog">
    <p>Thank you for matching with this user!</p>
    <p>Please make sure to contact this user</p>
    <p>You will now be taken back to the current task page of your profile</p>
</div>
-->

<script src="/javascripts/potentialMatchesScript.js"></script>