<h1> Task Details <h2>

<ul>
	<li>Category: {{task.category}}</li>
	<li>Requesting: {{task.requesting}}</li>
	<li>Offering: {{task.offering}}</li>
	<li>Description: {{task.description}}</li>
	<li>use the Posters home address? {{task.usePosterAddress}}</li>
	<li>Address: {{task.address.streetNumber}} {{task.address.streetName}}, {{task.address.city}} </li>
	<li>which mode of contact? {{task.modeofContact}}</li>
	<li>Picture: {{task.pictureUrl}}</li>
	<li>Poster: {{task.poster.firstName}} {{task.poster.lastName}}</li>
	<li>Matched?: {{task.matchedUserID}}</li>
</ul>


