<h1> Task Details </h1>

<h1>Offering: {{task.offering}}</h1>
<h1>Wanted: {{task.requesting}}</h1>

<span id="poster_id" name={{task._id}} style="display:none;"></span>

<table width="50%">
    <tr>
        <div class="container-fluid">
            <div class="row">
            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            	   {{task.pictureUrl}}
                    Picture Here
            	</div>
            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            		<p>Post Date: {{task.date}}</p>
            		<p>Posted By: 
            		<a id="posterName" name={{task.poster.id}}>{{task.poster.firstName}} {{task.poster.lastName}} </a></p>
            		<p>Owner Rating: {{task.poster.rating}}</p>
            		<p>Location: {{task.address.streetNumber}} {{task.address.streetName}}, {{task.address.city}}</p>
            	</div>
            	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        		  <p>Map here of the location</p>
                </div>
            </div>
        </div>    	
    </tr>
    <div class="col-md-4 col-md-offset-4">
    	{{task.description}}
    </div>
</table>

<div class="col-md-4 col-md-offset-4">
	<!--{{#unless task.sameUser }}
        <button id="interested_button">I'm interested</button>
	{{/unless}} -->

    {{#if task.sameUser}}
        <!--This is your task, so show a button that will navigate to a list of users who showed they are interested-->
        <button id="show_interested">Show interested users</button>
    {{else if task.alreadyMatched}}
        <!-- Show no button for being interested-->
        <label>You Have Already replied to this!</label>
        <label>Send another message?</label>
        <button id="interested_button">I'm interested</button>
    {{else}}
        <!--Show the I'm interested button-->
        <button id="interested_button">I'm interested</button>
    {{/if}}
</div>

<div id="interested_dialog">
    <p>If you would like to show interest for this post, please write a small description of yourself.</p>
    <p>This may help the user who posted this task to better inform their decision</p>
    <form id="interested_form">
        <input type="text" name="interested_description">
    </form>
</div>

<script src="/javascripts/taskDetailsScript.js"></script>