<div id="PageBanner">
    <br><br>
    <div class= "container" style="max-width: 80%; height: 150px; background: #9bd17d">
        <table>
            <tr>
                <td>
                    <img id="profilePicture" style="width:100px;height:100px; margin: 10px" src="http://C:/Users/Kath/Desktop/Design Code/rvn/uploads/test.jpg"/>
                </td>
                <td>
                    <h1>{{user.firstName}}'s Profile</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p><button id="edit_profile" style=" width: 100px; margin-left: 10px;">Edit Profile</button> </p>
                </td>
            </tr>
        </table>
    </div>

<br> <!-- Create a form that will be used to enter the user information -->
<div class="tab-content" >
        <div id="Profile" class="tab active" >
        </div>
</div>

<div class= "container-fluid" style="max-width: 80%;">

    <h2 style="background: #c7e6b5; max-width: 100%;">About</h2>

    <div style= "width: 80% overflow: hidden;">
        <div id='left_div' style="max-width: 50%; float: left;">
            <ul class="nav navbar-nav">            
                <li><a id="navGeneralInformation" style="color: black;" onclick="displayGeneralInformation()">General Information</a></li>
                <br>
                <!--<li><a id="navWorkEducation" style="color: black;" onclick="displayWorkEducation()">Work and Education</a></li> -->
                <br>
                <li><a id="navContactInformation" style="color: black;" onclick="displayContactInformation()">Contact Information</a></li>
                <br>
                <li><a id="navInterests" style="color: black;" onclick="displayInterests()">Interests</a></li>

            </ul>        
        </div>
        <br>
        <div id='right_div' style="margin-left: 50%;">
            <div id="General_Information" class="hidden">
                <label>First Name:</label> {{user.firstName}}
                <br><br>
                <label>Last Name: </label> {{user.lastName}}
                <br><br>
                <label>Gender: </label>
                {{#if_eq user.gender 0}}
                    Male
                    {{else if_eq user.gender 1}}
                    Female
                    {{else if_eq user.gender 2}}
                    Prefer Not to Say
                {{/if_eq}}
                <br><br>
            </div>
            <div id="Work_and_Education" class="hidden">
                <label>Education Level: </label>
                <br><br>
                <label>Workplace: </label>
                <br><br>
            </div>
            <div id="Contact_Information" class="hidden">
                <label>Phone Number: </label> {{user.contactNumber}}
                <br><br>
                <label> Apartment Number: </label> {{user.address.apartmentNumber}}
                <br><br>
                <label> Street Address: </label> {{user.address.streetAddress}}
                <br><br>
                <label>City: </label> {{user.address.city}}
                <br><br>
                <label> Postal Code: </label> {{user.address.postalCode}}
                <br><br>
                <label>Preferred Mode of Contact: </label> {{user.preferredContact}}
                <br><br>
            </div>
            <div id="Interests" class="hidden">
                <label>Interests: </label> {{user.interests}}
                <br><br>
                <label>Hobbies: </label> {{user.hobbies}}
                <br><br>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<script src="/javascripts/userProfileScript.js"></script>

