<div class="container-fluid" style="background: #c7e6b5; font-weight: bold" >
    <ul class="nav navbar-nav">
          <li><a href="#" id="reviews_nav" name={{user._id}}>Reviews</a></li>
          <li><a href="#" id="taskHistory_nav" name={{user._id}}>Task History</a></li>
          <li><a href="#" id="currentTasks_nav" name={{user._id}}>Current Tasks</a></li>
          <li><a href="#" id="profile_nav" name={{user._id}}>Profile</a></li>
      </ul>
</div>
<div id="partial_container">
<div id="PageBanner">
    <br><br>
    <div class= "container" style="max-width: 80%; background: #9bd17d">
      <h1>Reviews</h1>
    </div>
  <div id="reviews" class="tab active">

    {{#each reviews}}
      <table>
        <tr>
          <td>
            <h2 {{this.reviewee.firstName}} {{this.reviewee.lastName}} </h2>
          </td>
        </tr>
        <tr>
          <td>
            <p> Review date: {{this.date}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p> {{this.description}} </p>
          </td>
        </tr>
      </table>
      <br>
    {{/each}}
  </div>

</div>
<script src="/javascripts/userProfileScript.js"></script>