<!--Posted Task-->

<!--<h1>Welcome to V-Inverse!</h1> -->


<div class= "container-fluid" style=" max-width: 100%; background: #9bd17d">
    <h1>Current Opportunities</h1>
</div>

<div class="container-fluid">
    <!-- <div class="col-lg-6" style="text-align: right">
        Filter by status:
    </div> 
    <div class="col-lg-6">
        <select>
            <option value="all">All</option>
            <option value="matched">Matched</option>
            <option value="pending">Pending</option>
        </select>
    </div> -->

    <br>
    <br>

    <div class="postTaskHeader">
        <div class="col-lg-4">
            <p style="position: absolute; left: 10px; top: 10px">Task Name</p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">Interested Users</p>
        </div>
        <div class="col-lg-2">
            <p style="position: relative; top: 10px">Status</p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">Action</p>
        </div>
    </div>
    {{#each user.tasklist}}
    <div class="postTaskContent">
        <span style="display:none">{{this._id}}</span>
        <div class="col-lg-4">
            <p style="position: relative; left: 10px; top: 10px">{{this.title}}</p>
        </div>
        <div class="col-lg-3">
            <p style="position: relative; top: 10px">put number of interested users here</p>
        </div>
        <div class="col-lg-2">
            <p style="position: relative; top: 10px">{{this.state}}</p>
        </div>
        <div class="col-lg-3">
            <div class="col-lg-6">
                <button type="button" class="viewDetails" style="margin: 15px 15px 0 15px">Details</button>
            </div>
            <div class="col-lg-6">
                {{#if_eq this.state "Matched"}}
                    {{#if_eq this.isPoster true}}
                        {{#if_eq this.poster.hasReviewed true}}
                            {{!--Don't put the complete button--}}
                        {{else}}
                            <button type="button" class="createButton complete_button" id="{{this._id}}" style="margin: 15px 15px 0 15px; width:125px;">Complete</button>
                        {{/if_eq}}
                    {{else if_eq this.isMatcher true}}
                        {{#if_eq this.matchedUser.hasReviewed true}}
                            {{!--Don't put the review button--}}
                        {{else}}
                            <button type="button" class="createButton complete_button" id="{{this._id}}" style="margin: 15px 15px 0 15px; width:125px;">Complete</button>
                        {{/if_eq}}
                    {{/if_eq}}
                {{/if_eq}}
                <button type="button" class="deleteButton" id="deleteTask" style="margin: 15px">Delete</button>
            </div>

        </div>
    </div>
    {{/each}}
</div>
<script src="/javascripts/userProfileScript.js"></script>

