<div class="container-fluid" style="background: #c7e6b5; font-weight: bold" >
    <ul class="nav navbar-nav">
          <li><a href="#" id="reviews_nav" name={{user._id}}>Reviews</a></li>
          <li><a href="#" id="taskHistory_nav" name={{user._id}}>Volunteer History</a></li>
          <li><a href="#" id="currentTasks_nav" name={{user._id}}>Active opportunities</a></li>
          <li><a href="#" id="profile_nav" name={{user._id}}>Profile</a></li>
      </ul>
</div>
<br>
<div id="taskHistory" class="taskList_table">
	<div class= "container-fluid" style=" max-width: 80%; background: #9bd17d">
        <h1>Task History</h1>
    </div>
  <br>
  <div class= "container-fluid" style=" max-width: 80%;">
      {{#each taskList}}
          <table class="taskhistory_table" border="2">
              <tr style="background-color:#ececec">
                  <th>
                      <label id="historyTaskName" >Task Name: </label>
                  </th>
                  <td style="background-color: #ececec">
                      {{this.title}}
                  </td>
              </tr>
              <tr>
                  <th>
                      <label id="historyTaskName"> Description: </label>
                  </th>
                  <td>
                      {{this.description}}
                  </td>
              </tr>
              <tr style="background: #ececec;">
                  <th>
                      <label id="historyTaskName"> Status: </label>
                  </th>
                  <td>
                      {{this.state}}
                  </td>
              </tr>
              <tr style="background: white;">
                  <th>
                      <label id="historyTaskName"> Date posted: </label>
                  </th>
                  <td>
                      {{this.dateString}}
                  </td>
              </tr>
              <tr style= "background: #ececec">
                  <th>
                      <label id="historyTaskName"> Date completed: </label>
                  </th>
                  <td>
                      {{this.completeDateString}}
                  </td>
              </tr>
              <tr style="background: white;">
                  <th>
                      <label id="historyTaskName"> Matched with: </label>
                  </th>
                  <td>
                      {{this.matchedUser.firstName}} {{this.matchedUser.lastName}}
                  </td>
              </tr>
          </table>
          <br>
      {{/each}}

  </div>
</div>

<br>
<br>
<script src="/javascripts/userProfileScript.js"></script>
