
<!--<h1>Welcome to V-Inverse!</h1> 
<h2 >If you prefer, you may call 416-689-2144 to speak to a real human operator instead.</h2>

<div class="container-fluid">
		<ul class="nav navbar-nav">
        	<li><a id="reviews_nav" name={{user._id}}>Reviews</a></li>
        	<li><a id="taskHistory_nav" name={{user._id}}>Task History</a></li>
        	<li><a id="currentTasks_nav" name={{user._id}}>Current Tasks</a></li>
        	<li class="active"><a id="profile_nav" name={{user._id}}>Profile</a></li>
    	</ul>
</div>
<div id="partial_container">

<div id="currentTasks" class="taskList_table">
    <br><br>
	<h1>Current Tasks</h1>

	<table style="width:100%">
  		<tr>
  			<th style="display:none;"></th>
    		<th>Task</th>
    		<th>Owner</th> 
    		<th>Status</th>
    		<th>Rating</th>


  		</tr>
  		{{#each user.tasklist}}
        <tr>
        	<td style="display:none;">{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.poster.firstName}} {{this.poster.lastName}}</td>                    
            <td>{{this.state}}</td>
            <td>Rating</td>       --><!-- Need to get the review for the task if completed
            <td>
            	{{#if_eq this.state "Matched"}}
            	<button class="complete_button" id={{this._id}}>Complete</button>
            	{{/if_eq}}
            	<button>Delete</button>
            </td>
        </tr>
        {{/each}}
	</table>
</div>

</div>-->

<div class="container-fluid">
    <div class="col-lg-6" style="text-align: right">
        Filter by status:
    </div> 
    <div class="col-lg-6">
        <select>
            <option value="all">All</option>
            <option value="matched">Matched</option>
            <option value="pending">Pending</option>
        </select>
    </div>

    <br>
    <br>

    <div class="currentTaskHeader">
        <div class="col-lg-6">
            Task Name
        </div>
        <div class="col-lg-3">
            Status
        </div>
        <div class="col-lg-3">
            Action
        </div>
    </div>

    <div class="currentTaskContent">
        <div class="col-lg-6">
            Task Name
        </div>
        <div class="col-lg-3">
            Status
        </div>
        <div class="col-lg-3">
            <button type="button" class="createButton" id="complete">Complete</button>
            <br>
            <br>
            <button type="button" class="createButton" id="deleteTask">Delete</button>
        </div>
    </div>
</div>












<script src="/javascripts/userProfileScript.js"></script>

